<a [routerLink]="recipeLink()" class="recipe-card-link">
    <mat-card class="recipe-card">
        <div class="card-image-container">
            @if (fullImageUrl()) {
            <img
                [src]="fullImageUrl()"
                [alt]="recipe().name"
                class="card-image" />
            } @else {
            <div class="card-image-placeholder">
                <mat-icon>restaurant_menu</mat-icon>
            </div>
            }

            <div class="recipe-badges">
                @if (isOwnRecipe()) {
                    <mat-chip-set>
                        <mat-chip>Mój przepis</mat-chip>
                    </mat-chip-set>
                }

                @if (inMyCollections() && !isOwnRecipe()) {
                    <mat-chip-set>
                        <mat-chip>W moich kolekcjach</mat-chip>
                    </mat-chip-set>
                }

                @if (isTermorobot() || recipe().isTermorobot) {
                    <mat-chip-set>
                        <mat-chip class="termorobot-chip">
                            <mat-icon matChipAvatar>blender</mat-icon>
                            Termorobot
                        </mat-chip>
                    </mat-chip-set>
                }
            </div>

            @if (showRemoveAction()) {
            <button
                mat-icon-button
                class="card-menu-button"
                [matMenuTriggerFor]="cardMenu"
                (click)="onMenuClick($event)"
                aria-label="Menu akcji">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #cardMenu="matMenu">
                <button mat-menu-item (click)="onRemoveClick($event)">
                    <mat-icon>remove_circle_outline</mat-icon>
                    <span>Usuń z kolekcji</span>
                </button>
            </mat-menu>
            }
        </div>
        <mat-card-content>
            <h3 class="recipe-name">{{ recipe().name }}</h3>
            @if (shouldShowCategory()) {
            <p class="recipe-category">
                {{ recipe().categoryName || '&nbsp;' }}
            </p>
            }
        </mat-card-content>
    </mat-card>
</a>
