<mat-sidenav-container class="main-layout">
    @if (shouldShowSidebar()) {
        <mat-sidenav
            #sidenav
            [opened]="isSidebarOpen()"
            [mode]="isMobile() ? 'over' : 'side'"
            (closed)="onSidebarClosed()"
            class="main-layout__sidenav"
        >
            <pych-sidebar />
        </mat-sidenav>
    }

    <mat-sidenav-content class="main-layout__content">
        <pych-topbar [shouldShowSidebar]="shouldShowSidebar()" />
        <main class="main-layout__main">
            <router-outlet />
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>

