<div class="recipes-list-page">
    <pych-page-header title="Moje przepisy">
        <a mat-stroked-button routerLink="/recipes/import">
            <mat-icon>upload_file</mat-icon>
            Importuj przepis
        </a>
        <a mat-flat-button color="primary" routerLink="/recipes/new/start">
            <mat-icon>add</mat-icon>
            Dodaj przepis
        </a>
    </pych-page-header>

    @if (isInitialLoading()) {
        <div class="initial-loading">
            <div class="loading-spinner"></div>
            <p>Ładowanie...</p>
        </div>
    } @else {
        <div class="recipes-list-page__content">
            <pych-recipes-filters
                [initialFilters]="filters()"
                [categories]="categories()"
                [tags]="tags()"
                (filtersChange)="onFiltersChange($event)"
            />

            @if (recipes().length === 0 && !isLoadingMore()) {
                <pych-empty-state
                    icon="menu_book"
                    title="Brak przepisów"
                    description="Nie masz jeszcze żadnych przepisów. Dodaj swój pierwszy przepis lub zaimportuj go z tekstu."
                >
                    <a mat-flat-button color="primary" routerLink="/recipes/new/start">
                        <mat-icon>add</mat-icon>
                        Dodaj przepis
                    </a>
                </pych-empty-state>
            } @else {
                <pych-recipe-list
                    [recipes]="recipeListItems()"
                    [useLoadMore]="true"
                    [hasMore]="pageInfo().hasMore"
                    [isLoadingMore]="isLoadingMore()"
                    [usePaginator]="false"
                    (loadMore)="onLoadMore()"
                />
            }
        </div>
    }
</div>
